<a href="https://colab.research.google.com/github/HiGusti/SQL---Project/blob/main/Homework_Python_II_by_Digital_Skola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
def is_even(number):
    return number % 2 == 0

# Output
print(is_even(4))
print(is_even(5))

True
False

In [6]:
def sum_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_list([1, 2, 3, 4]))

10

In [8]:
def find_min_max(numbers):
    min_value = float('inf')
    max_value = float('-inf')

    for num in numbers:
        if num < min_value:
            min_value = num
        if num > max_value:
            max_value = num

    return (min_value, max_value)

print(find_min_max([10, 20, 30, 1, 50]))

(1, 50)

In [9]:
def group_characters(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

print(group_characters("hello world"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}